.app {
  text-align: center;
}
.app.list-item-rangeselector-active {
  cursor: move;
}

.app-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60px;
  font-size: 1rem;
  color: white;
}

main {
  font-size: 1rem;
} 

.lists-overview-header {
  display: flex;
  flex-direction: row;
}
.lists-overview-header h3 {
  flex: 6;
  line-height: 2vw;
  margin: 15px 0;
  text-align: left;
}
.lists-overview-header a {
  flex: 4;
  line-height: 24px;
  margin: 15px 0;
  text-align: right;
}

.lists-overview .lists-overview-items {
  display: flex;
  flex-direction: row;
}

.list-item.complete .list-item-label {
  text-decoration: line-through;
}

.list-item-check {
  display: inline-block;
}
.list-item-check-inc {
  display: none;
}
.list-item.label-hovered:not(.complete) .list-item-check-inc {
  display: inherit;
  font-size: 1rem;
  padding: 0 2px 0 4px;
}
.list-item.label-hovered:not(.complete) .list-item-check .MuiButtonBase-root {
  display: none;
}

.list-item-label {
  line-height: 26px;
  cursor: default;
}
.list-item:not(.complete) .list-item-label {
  cursor: pointer;
}

.list-item-label-counter.active {
  color: red;
}
